{% load static %}

<!-- Navigation & Logo-->
<nav class="navbar navbar-default mainmenu-wrapper mainmenu" id="my-menu">
      <div class="container-fluid">
        <div class="navbar-header" >
          <button type="button" style="margin-top:27px;" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/cromio1.png' %}"  alt="Cromio prints logo"/></a>
        </div>
        <div class="collapse navbar-collapse" id="my-navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            {% for product in menu_products %}
              <li><a href="{% url 'product-detail' product.slug %}"> {{ product.name }} </a></li>
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrello</a></li>
            <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
