{% load static %}

<!-- Navigation & Logo-->
<nav class="navbar navbar-default mainmenu-wrapper mainmenu" id="my-menu">
      <div class="container-fluid">
        <div class="navbar-header" >
          <button type="button" style="margin-top:27px;" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html"><img src="{% static 'img/cromio1.png' %}"  alt="Cromio prints logo"/></a>
        </div>
        <div class="collapse navbar-collapse" id="my-navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="home.html">Home</a></li>
            <li><a href="acrylic.html">Plexyglass&copy;</a></li>
            <li><a href="wood.html">Legno</a></li>
            <li><a href="aluminium.html">Alluminio</a></li>
            <li><a href="forex.html">Forex</a></li>
            <li><a href="canvas.html">Tela</a></li>
            <li><a href="wallpaper.html">Carta da Parati</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrello</a></li>
            <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
